* {
  letter-spacing: 0.5pt;
}
  @font-face {
	font-family: JazzBall;
	src: url('./fonts/Jazz_Ball_Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: royalblue;
  background-image: url("./images/background2.jpg");
  background-size: cover;
}

<<<<<<< Updated upstream
a {
	font-family: "myFont";
	font-size: 10pt;
=======
a, label, #mce-EMAIL, #mc-embedded-subscribe{
	font-family: "JazzBall";
	font-size:14pt;
>>>>>>> Stashed changes
	color: white;
	text-decoration: none;
}

/* SELECTORS */

a:hover {
	color: #D7F460;
}

a:active {
	color: #F482EC;
}

/* CLASSES */
.cursor-style {
  font-family: monospace;
  position: absolute;
  line-height: 20px;
  font-size: 14px;
  left: 20px;
  top: 20px;
}
<<<<<<< Updated upstream
=======

/* IDs */
#mce-EMAIL {
  background-color: rgba(255,255,255,0.8);
  color:black; 
  font-size: 12pt; 
}

#mc-embedded-subscribe {
  background-color: #11C1BC;
  color:white;
  font-size: 12pt;
}

#mc_embed_signup {
  display: none;
}

>>>>>>> Stashed changes
